extends baseEmail

block content
    p Hi #{firstName},
    p `Forgot your password ? Please submit a PATH request with your new password and passwordConfirm to: #{url}

    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset your password
    p If you didn't forget your password, please ignore this email`;