doctype html
html 
    block head    
        link(rel="stylesheet", href="/css/style.css")
        link(rel="shortcut icon", type="image/png" href="img/favicon.png")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Natours | Exciting tours for adventurous people


    body
        // Header
        include _header
        // Content
        block content
        // Footer   
        include _footer

        script(src="/dist/index.js")




